<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2681/2681880.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorPagesProject</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @*NAVIGATION BAR*@
    <div id="mySidenav" class="sidenav">
        <img id="logo-img" src="https://cdn-icons-png.flaticon.com/512/2681/2681880.png">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a asp-page="./Index">Dashboard</a>
        <a asp-page="./Students">Students</a>
        <a asp-page="./Grades">Grades</a>
        <a asp-page="./Classes">Classes</a>
        <a asp-page="./Teachers">Teachers</a>
        <a asp-page="./Events">Events</a>
        <a asp-page="./Contact">Contact</a>
    </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer;color: #fc5c64;font-weight: bolder;" onclick="openNav()">&#9776;</span>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.getElementsByClassName("container")[0].style.marginLeft = "250px";

        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementsByClassName("container")[0].style.marginLeft = "0";
        }
    </script>
    @*NAVIGATION BAR*@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RazorPagesProject - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>