@page
@model RazorPagesProject.Pages._GradesViewModel
@{
}
<table class="users_table">
    <thead>
        <tr class="border" role="row">
            <th class="width20">Grades</th>
            @*user number hidden*@
        </tr>
    </thead>

    <tbody>
        @foreach (var grade in Model.grades)
        {
            <tr class="sorting_1" role="row">
                <td tabindex="0">
                    @grade.GradeEnum
                </td>
            </tr>
        }
    </tbody>
</table>
