@page
@model RazorPagesProject.Pages._SubjectGradesViewModel
@{
}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<table class="users_table">
    <thead>
        <tr class="border" role="row">
            <th class="width20">Subject</th>
            <th class="width20">Grades</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.studentid != null)// checks if there are any students// it is always true
        {
            @foreach (var subjectGrades in Model.currentStudent.GetGradeBook())
            {
                <tr class="sorting_1" role="row">
                    <td tabindex="0">
                        @if (subjectGrades.Subject == ClassLibrary.Models.Enums.Subject.ENGLISH)
                        {
                            <i class="fa fa-pencil"></i>
                        }
                        @subjectGrades.Subject
                    </td>
                    <td tabindex="0">
                        <a class="no-decoration" asp-page="./_GradesView" asp-route-subjectGradesId="@subjectGrades.Id">
                            <i class='fas fa-edit'></i> Grades
                        </a>
                    </td>       
                </tr>
            }
        }
        else
        {
            <tr class="sorting_1" role="row">
                <td tabindex="0">
                    <span>This student has no grades!</span>
                </td>
            </tr>
        }
    </tbody>
</table>

