@page
@model RazorPagesProject.Pages.GradesModel
@{
    ViewData["Title"] = "Grades";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="topnav" id="shrink">
    <p id="searchlabel">
        Enter a (part of) name of a student:
    </p>
    <div class="search-container">
        <form method ="post">
            <input class ="searchbar" type="text" placeholder="Search.." name="search">
            <button type="submit" asp-page-handler="SearchByName" value="Submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

@if (Model.currentStudents != null && Model.currentStudents.Count !=0)//checks if there are any searched students
{
    <table class="users_table">
        <tbody>

            @foreach (var student in Model.currentStudents)
            {
                <tr class="sorting_1" role="row">
                    <td tabindex="0">
                        <a class="no-decoration" asp-page="./_UserView" asp-route-userId="@student.Userid">
                            <i class='fas fa-user-graduate'></i> @student.GetFullName()
                        </a>
                    </td>
                    <td tabindex="0">
                        @if (student.GradeBook == null)
                        {
                            <span>No Grades!</span>
                        }
                        else
                        {
                            @foreach (var subjectGrades in student.GradeBook)
                            {
                                <a class="no-decoration" asp-page="./_GradesView" asp-route-subjectGradesId="@subjectGrades.Id">
                                    <i class='fas fa-edit'></i> @subjectGrades.Subject
                                </a>
                            }
                        }
                    </td>
                </tr>
            } 
        </tbody>
    </table>
}
<script>
    function openNavGrades() {
        document.getElementById("shrink").style.marginLeft = "250px";
    }

    function closeNavGrades() {
        document.getElementById("shrink").style.marginLeft = "0";
    }
</script>